In [1]:
import numpy as np
import pandas as pd
import scipy 
import statsmodels.api as sm #for Regression
import matplotlib.pyplot as plt
import seaborn as sns 
import sklearn 
sns.set()

In [2]:
pwd()

'C:\\Users\\Ghost'

In [3]:
data=pd.read_csv("1.01. Simple linear regression.csv")

In [4]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [5]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [6]:
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [7]:
len(data)

84

In [8]:
data.max()

SAT    2050.00
GPA       3.81
dtype: float64

In [9]:
data.min()

SAT    1634.0
GPA       2.4
dtype: float64

In [10]:
y=data["GPA"]
x1=data["SAT"]

In [11]:
plt.scatter(x1,y)
plt.xlabel("SAT")
plt.ylabel("GPA")
plt.show()

# regression

In [12]:
x=sm.add_constant(x1)

D:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [13]:
result=sm.OLS(y,x).fit()

In [20]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.406
Model:                            OLS   Adj. R-squared:                  0.399
Method:                 Least Squares   F-statistic:                     56.05
Date:                Sat, 05 Sep 2020   Prob (F-statistic):           7.20e-11
Time:                        20:36:13   Log-Likelihood:                 12.672
No. Observations:                  84   AIC:                            -21.34
Df Residuals:                      82   BIC:                            -16.48
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2750      0.409      0.673      0.503      -0.538       1.088
SAT            0.0017      0.000      7.487      0.000       0.001       0.002
==============================================================================
Omnibus:                       12.839   Durbin-Watson:                   0.950
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               16.155
Skew:                          -0.722   Prob(JB):                     0.000310
Kurtosis:                       4.590   Cond. No.                     3.29e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.29e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [30]:
plt.figure(figsize=(7,7))
sns.scatterplot(x1,y)
yhat=0.0017*x1+0.275
sns.lineplot(x1,yhat,lw=4,c='orange',label="regression")